body, html {
    height: 100%;
    background: #111 !important;
}

.bg {
    background-image: url("IMG_7328.JPG");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.unselectable {
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}

img {
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}

.proj-thumbnail {
  display: block;
  max-width: 400px;
  max-height: 200px;
  width: auto;
  height: auto;
  border: 3px solid transparent;
  border-radius: 8px;
  background: linear-gradient(-50deg, rgb(120, 120, 120), rgb(120, 15, 15));
  background-clip: padding-box;
  padding: 3px;
}

/********************** Burger menu **********************/
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}
 
.bm-burger-bars {
  background: rgba(255, 255, 255, 0.7) !important;
}
 
.bm-burger-bars-hover {
  background: rgba(50, 170, 250, 0.7) !important;
}
 
.bm-cross-button {
  height: 24px;
  width: 24px;
}
 
.bm-cross {
  background: black;
}
 
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}
 
.bm-menu {
  background: rgba(255, 255, 255, 0.8) !important;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
 
.bm-morph-shape {
  fill: rgba(255, 255, 255, 0.8) !important;
}
 
.bm-item-list {
  color: #b8b7ad !important;
  padding: 0.8em;
}
 
.bm-item {
  display: inline-block;
}
 
.bm-overlay {
  background: rgba(0, 0, 0, 0.4) !important;
}

/********************** Page transition **********************/
.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
}

/********************** Override Bootstrap CSS **********************/
.r-color-cqee49 {
  color: inherit;
}

.modal.show .modal-dialog {
  max-width: 90vw;
}

.modal-header {
  background-color: #AAA;
}

.modal-footer {
  background-color: #AAA;
}

.btn-primary {
  color: #fff;
  background-color: #aa0505;
  border-color: #aa0505;
}