body, html {
    height: 100%;
    background: #111 !important;
}

.bg {
    background-image: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
}

.page-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.bio-img {
  display: block;
  max-width: 180px;
  max-height: 500px;
  width: auto;
  height: auto;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.2), 0 3px 10px 0 rgba(255, 255, 255, 0.19);
}

.shadow-thumbnail {
  display: block;
  max-width: 400px;
  max-height: 200px;
  min-width: 100px;
  min-height: 100px;
  width: auto;
  height: auto;
  border: #111 1.5px solid;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(208,208,208,0.12), 0 2px 4px rgba(208,208,208,0.24);
  transition: all .2s ease-in-out;
}

.shadow-thumbnail:hover {
  box-shadow: 0 2px 6px rgba(170,5,5,0.24), 0 2px 4px rgba(170,5,5,0.48);
  transform: scale(1.1);
}

.cv-thumbnail {
  display: block;
  max-width: 300px;
  min-width: 165px;
  min-height: 240px;
  width: 14vw;
  height: auto;
}

.simple-thumbnail {
  display: block;
  max-width: 400px;
  max-height: 200px;
  min-width: 100px;
  min-height: 100px;
  width: auto;
  height: auto;
  transition: all .2s ease-in-out;
}

.simple-thumbnail:hover {
  transform: scale(1.2);
}

/********************** Burger menu **********************/
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
  z-index: 500 !important;
}
 
.bm-burger-bars {
  background: rgba(255, 255, 255, 0.7) !important;
}

.bm-burger-bars.rotate1 {
  background: #aa0505 !important;
  -webkit-transform: rotate(-45deg);
}

.bm-burger-bars.rotate2 {
  background: #aa0505 !important;
  -webkit-transform: rotate(45deg);
}

.bm-burger-bars-hover {
  background: rgba(50, 170, 250, 0.7) !important;
}
 
.bm-cross-button {
  height: 24px;
  width: 24px;
}
 
.bm-cross {
  background: white;
}
 
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}
 
.bm-menu {
  background: rgba(0, 0, 0, 0.8) !important;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
 
.bm-morph-shape {
  fill: rgba(0, 0, 0, 0.8) !important;
}
 
.bm-item-list {
  color: #b8b7ad !important;
  padding: 0.8em;
}
 
.bm-item {
  display: inline-block;
}
 
.bm-overlay {
  background: rgba(0, 0, 0, 0.4) !important;
}

/***************** unselectable components go here *****************/
.unselectable,
img,
.overlay > div:first-of-type > div:first-of-type {
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}

/********************** Page transition **********************/
.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
}

/********************** Custome Checkbox **********************/
.customcheck {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #DDD !important;
  font-size: 13px;
  white-space: nowrap;
}

.customcheck input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: -3px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #222;
  border-radius: 5px;
}

.customcheck:hover input ~ .checkmark {
  background-color: #444;
}

.customcheck input:checked ~ .checkmark {
  background-color: #02cf32;
  border-radius: 5px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.customcheck input:checked ~ .checkmark:after {
  display: block;
}

.customcheck .checkmark:after {
  left: 9px;
  top: 5px;
  width: 7px;
  height: 14px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/********************** Override Bootstrap CSS **********************/
.overlay > div:first-of-type > div:first-of-type {
  position: fixed;
  background: rgba(0, 0, 0, 0.85);
}

.overlay > div:first-of-type > div:nth-of-type(2) {
  display: unset !important;
}

.fmNlUH {
  position: fixed;
}

/********************** Override Bootstrap CSS **********************/
.r-color-cqee49 {
  color: inherit;
}

.modal {
  z-index: 501 !important;
}

.modal-backdrop {
  z-index: 500 !important;
}

.modal.show .modal-dialog {
  max-width: 90vw;
}

.modal-header {
  background-color: #DDD;
}

.modal-footer {
  background-color: #DDD;
}

.btn-primary {
  color: #fff;
  background-color: #aa0505;
  border-color: #aa0505;
}

.css-901oao.r-cqee49.r-adyw6z {
  color: inherit;
}

/********************** Override Bootstrap CSS **********************/
.input-long {
  min-width: 300px !important;
}

.input-group-text {
  min-width: 110px;
  font-size: 13px !important;
  color: #AAA !important;
  background-color: #222 !important;
  border: 1px solid #DDD !important;
}

.append-form {
  min-width: 0;
  font-size: 12px !important;
  justify-content: center;
}

.h5.mb-4.bright {
  color: #FFF !important;
  margin-top: 50px;
}

.input-group {
  min-width: 300px;
}

.input-group.wide {
  min-width: 50%;
}

.col-md-3.send-confirm {
  min-width: 230px;
}

.form-control {
  font-size: 13px !important;
  background-color: #111 !important;
  color: #FFF !important;
}

.form-group.text-area {
  padding-right: 0px !important;
  padding-left:  0px !important;
}

.form-row.mb-4.nomargin {
  margin-top: -20px;
}

/********************** Override Recaptcha CSS **********************/
.grecaptcha-badge {
  z-index: 2;
}

/******************** Override ImageGallery CSS *********************/
.image-gallery-slide img {
  height: 50vh;
}